@tailwind base,
@tailwind components,
@tailwind utilities

body {
  @apply bg-white text-gray-900;
}

button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.icon-grid {
  @apply w-5 h-5;
}